{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link href="{{ STATIC_URL }}dashboard/css/invoice.css" type='text/css' media='screen' rel='stylesheet' />
{% endblock %}

{% block title %}{% trans "DAIR Showback" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("DAIR Showback") %}
{% endblock page_header %}

{% block main %}
<div class="usage_info_wrapper">
<form action="?" method="get" id="date_form" class="form-horizontal">
  <h3>{% trans "Select a period of time to query usage" %}: </h3>
  <div class="datepicker">
    {% blocktrans with start=form.start end=form.end %}<span>From: {{ start }} </span><span>To: {{ end }} </span>{% endblocktrans %}
    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    <small>{% trans "The date should be in YYYY-mm-dd format." %}</small>
  </div>
</form>
</div>

{% if usage %}
  <h2>Usage from {{ start_date }} to {{ end_date }}</h2>
    <div class="invoice-box">
      <h3>Instances</h3>
      <table cellpadding="0" cellspacing="0">
        <tr class="heading">
          <td width="60%">Flavor</td>
          <td width="15%">Qty</td>
          <td>Hours</td>
          <td>Price</td>
        </tr>
        {% for k,v in usage.Instances.items %}
        {% if k != "total_cost" %}
        <tr class="item">
          <td>{{ k }}</td>
          <td>{{ v.count }}</td>
          <td>{{ v.hours }}</td>
          <td>${{ v.cost|floatformat:2 }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr class="total">
          <td></td>
          <td></td>
          <td></td>
          <td>Total: ${{ usage.Instances.total_cost|floatformat:2 }}</td>
        </tr>
      </table>

      <br>
      <h3>Snapshots</h3>
      <table cellpadding="0" cellspacing="0">
        <tr class="heading">
          <td width="60%">Name</td>
          <td width="15%">Hours</td>
          <td>Size</td>
          <td>Price</td>
        <tr>
        {% for k,v in usage.Snapshots.items %}
        {% if k != "total_cost" %}
          <tr class="item">
            <td>{{ k }}</td>
            <td>{{ v.hours }}</td>
            <td>{{ v.size|floatformat:2 }}</td>
            <td>${{ v.cost|floatformat:2 }}</td>
          </tr>
        {% endif %}
        {% endfor %}
        <tr class="total">
          <td></td>
          <td></td>
          <td></td>
          <td>Total: ${{ usage.Snapshots.total_cost|floatformat:2 }}</td>
        </tr>
      </table>

      <br>
      <h3>Volumes</h3>
      <table cellpadding="0" cellspacing="0">
        <tr class="heading">
          <td width="60%">Name</td>
          <td width="15%">Hours</td>
          <td>Size</td>
          <td>Price</td>
        <tr>
        {% for k,v in usage.Volumes.items %}
        {% if k != "total_cost" %}
        <tr class="item">
          <td>{{ k }}</td>
          <td>{{ v.hours }}</td>
          <td>{{ v.size|floatformat:2 }}</td>
          <td>${{ v.cost|floatformat:2 }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr class="total">
          <td></td>
          <td></td>
          <td></td>
          <td>Total: ${{ usage.Volumes.total_cost|floatformat:2 }}</td>
        </tr>
      </table>

      <br>
      <table cellpadding="0" cellspacing="0">
        <tr class="total">
          <td width="70%"><b>Total</b></td>
          <td></td>
          <td></td>
          <td>${{ grand_total|floatformat:2 }}</td>
        </tr>
      </table>

      <a href="/project/dair_showback/csv?start={{ start_date }}&end={{ end_date }}">Download CSV</a>
    </div>
{% endif %}
{% endblock %}


